# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [111]:
number  = 6 

print(number)

6

##### Assinging float

In [112]:
# float has decimal

float_num = 4.2

print(float_num)

4.2

#### Performing Calculations on ints and floats

##### Addition

In [127]:
num1 = 3
num2 = 6

result_add = num1 + num2
print(result_add)

result_add += 2
print(result_add)

9
11

##### Subtraction

In [128]:
num1 = 8
num2 = 5

result_sub = num1 - num2
print(result_sub)

result_sub -= 1
print(result_sub)

3
2

##### Multiplication

In [124]:
num1 = 3
num2 =5

result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

15
30

##### Division

In [126]:
num1 = 6
num2 = 4

result_div = num1 / num2
print(result_div)

result_div /= 2
print(result_div)

1.5
0.75

##### Floor Division

In [130]:
num1 = 7
num2 = 3

result_floor = num1 // num2
print(result_floor)

result_floor //=2
print(result_floor)

2
1

##### Modulo

In [133]:
result_mod = 13% 2
print(result_mod)

result_mod %= 2
print(result_mod)

0
0

##### Exponential

In [134]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [135]:
user = "Jamal"
print(user)

Jamal

##### print() <br>
<p>Don't forget about end=' '</p>

In [140]:
print("This is my first name:", user)

print("Full name:", user, end=" Mobley")

This is my first name: Jamal
Full name: Jamal Mobley

##### String Concatenation

In [116]:
first_name = "John"
last_name = "Jacob"

print(f"{first_name} {last_name}")

John Jacob

##### Type Conversion

In [ ]:
number = "42"

change_type = int(number)

##### input()

In [114]:
# input always returns a string

name = input("What is your name? ")
print(f"Hi {name}")

What is your name? RJ
Hi RJ

##### format()

In [119]:
age = input("What is your age")
name = input("What's your name")

result_string = "You are {} {}, and your are getting wiser".format(age, name)
print(result_string)

result_string2 = f"{name}, you are {age} years old"
print(result_string2)

What is your age67
What's your nameElway
You are 67 Elway, and your are getting wiser
Elway, you are 67 years old

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [1]:
name = input("What is your name? ")
color = input("What color is your car? ")
year = input("What year is your car? ")
model = input("What model is your car? ")

response = f"{name}, your {model}'s color is {color}"
print(response)

What is your name? Dregon
What color is your car? gray
What year is your car? 2016
What model is your car? Kia Forte
Dregon, your Kia Forte's color is gray

### If Statements

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

##### 'is' keyword

In [ ]:
#python nolonger uses 'is'

##### 'in' keyword

In [142]:
# Check if a character is in a string

char_name = "Frodo Baggins"
if "Frodo" in char_name:
    print("The ring bearer")

The ring bearer

##### 'not in' keyword'

In [143]:
saga_char = "Sonic"

if 'a' not in saga_char:
    print("a is not here...")

a is not here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [2]:
answer_me = input("What is your favorite snack food? ")
if "p" in answer_me or "P" in answer_me:
    print("Answer has 'p' in it!")
else:
    print("No 'p'...")

What is your favorite snack food? fries
No 'p'...

## Using 'and'/'or' with If Statements

In [148]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# If with 'and' statement
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
# If with 'or statement'
if num_13 == num_14 or num_11 > num_12:
    print("False and True")

True and True
False and True

### Elif Statements

In [150]:
first_name = input("What's your first name? ")

if first_name == "Elway":
    print("The name is Elway")
elif first_name != "Max":
    print("The name is NOT Max")
else:
    print("The name is Max")

What's your first name? Chris
The name is NOT Max

### Else Statements

In [ ]:
# see above

### For Loops

In [10]:
# for counter in condition

name = "L'Rae Brantley"
print(name)

for letter in name:
    print(letter)

L'Rae Brantley
L
'
R
a
e

B
r
a
n
t
l
e
y

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [13]:
name = "L'Rae Brantley"

for letter in name:
    if letter == "a":
        continue
    print(letter)

L
'
R
e

B
r
n
t
l
e
y

##### Break Statement

In [ ]:
# will break out of current loop

In [14]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [151]:
new_name = "Brandon Apol"

for i in new_name:
    pass

##### Double For Loops

In [15]:
# can slow down system if you have alot of data to go through
#not illegal, but be careful

for i in range(5):
    for j in range(5):
        print("i = ", i, "j = ",j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [16]:
#syntax:
# while keyword, condition statement

num = 0

while num < 10:
    print(num)
    num +=1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [3]:
game_over = True

while game_over:
    print("Infinite Loop")
    user_input = input("Would you like to stop? ")
    if user_input == "yes" or user_input == "Yes":
        game_over = False

Infinite Loop
Would you like to stop? no
Infinite Loop
Would you like to stop? dj
Infinite Loop
Would you like to stop? h
Infinite Loop
Would you like to stop? yes

##### While & For Loops Used Together

In [4]:
num = 0

while num < 5:
    print("\nWhile loop iteration: " + str(num))
    for i in range(2):
        print("For loop iteration: " + str(i))
        
    num += 1

While loop iteration: 0
For loop iteration: 0
For loop iteration: 1

While loop iteration: 1
For loop iteration: 0
For loop iteration: 1

While loop iteration: 2
For loop iteration: 0
For loop iteration: 1

While loop iteration: 3
For loop iteration: 0
For loop iteration: 1

While loop iteration: 4
For loop iteration: 0
For loop iteration: 1

### Built-In Functions

##### range()

In [17]:
# range(start, stop, step)

for i in range(1, 20):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### len()

In [18]:
name = input("What is the name of yuour favorite book? ")

length = len(name)
print(length)

What is the name of yuour favorite book? Harry Potter
12

##### help()

In [26]:
# Use this function to view more info about a python function

help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [27]:
# Chesk a variable to find out what object family (or data type) it belongs to
#isinstance(var, type)

print(isinstance(5, int))

if isinstance(4.5,float):
    print("This number is a float type")

True
This number is a float type

##### abs()

In [28]:
# absolute value

print(abs(-42))

42

### Try and Except

In [30]:
# use this to log out gracefully and useful error messages
# Does not stop the program!

try:
    input_num =int(input("Guess a number"))
    print("Your number is " + str(input_num))
except:
    print("That didn't work! Change your input to a number.")

Guess a number6
Your number is 6

### Lists

##### Declaring Lists

In [ ]:
names = ["Rae", "Karyn", "Kynzie", "Chewy"]
print(names)

##### Indexing a List

In [38]:
# [start: stop: step]

names = ["Rae", "Karyn", "Kynzie", "Chewy", "Noob", "Mommy"]

# single index
print(names[0])

# print starting at index : going to the end
print(names[1:])

# print start at beginning of a list up until number
print(names[:2])

# Print starting at index 1 and going up by 2 in each iteration
print(names[1::2])

# Print starting at the back and display in reverse order
print(names[::-1])

Rae
['Karyn', 'Kynzie', 'Chewy', 'Noob', 'Mommy']
['Rae', 'Karyn']
['Karyn', 'Chewy', 'Mommy']
['Mommy', 'Noob', 'Chewy', 'Kynzie', 'Karyn', 'Rae']

##### .append()

In [39]:
names = ["Rae", "Karyn", "Kynzie", "Chewy"]

names.append("Uno")
print(names)

['Rae', 'Karyn', 'Kynzie', 'Chewy', 'Uno']

##### .insert()

In [40]:
names = ["Rae", "Karyn", "Kynzie", "Chewy"]
names.insert(3,"Uno")
print(names)

['Rae', 'Karyn', 'Kynzie', 'Uno', 'Chewy']

##### .pop()

In [42]:
# Default to the last value if no parameter is given
# Pop returns the last element that was removed in case you want to assign it to variable

names = ["LRae", "Karyn", "Kynzie", "Chewy"]

my_name = names.pop(0)
print(my_name)

LRae


##### .remove()

In [44]:
# Value to be removed rather than index

names = ["Rae", "Karyn", "Kynzie", "Chewy", "Earl", "Mommy", "Earl", "Earl"]

names.remove("Chewy")
print(names)

# Remove multiple Earls from list
while "Earl" in names:
    names.remove("Earl")
print(names)

['Rae', 'Karyn', 'Kynzie', 'Earl', 'Mommy', 'Earl', 'Earl']
['Rae', 'Karyn', 'Kynzie', 'Mommy']

##### del()

In [45]:
# Goes by index, rather than value
# Be careful with del, it can cause index errors if not used carefully

names = ["Rae", "Karyn", "Kynzie", "Chewy"]
del(names[1])
print(names)

['Rae', 'Kynzie', 'Chewy']

##### Concatenating Two Lists

In [49]:
# Will append two lists together, will NOT add the values

list_2 = [3,4,7,7]
list_3 = [1,9,7,2,6]

larger_list = list_2 + list_3
print(larger_list)

[3, 4, 7, 7, 1, 9, 7, 2, 6]

##### Lists Within Lists

In [ ]:
# List can hold ANY type of other element! Including other lists!
# They can go as deep as you want; this is called nested lists

names = ["Rae", "Karyn", "Kynzie", "Chewy",["Earl", ["Boosie", "Nari"], "Latifah"]]
print(names)
print(names[4])
print(names[4][1])
print(names[4][1][1])
print(names[4][2])

##### Looping Through Lists

In [60]:
# Two ways to loop through list! One is by index; the other is by using 'in' keyword

siblings = ["Rae", "Earl", "Noob", "Shanti", "Dru", "Jaz", "Latifah"]

# By index
for i in range(len(siblings)):
    print(siblings[i])
    
# Loop with 'in'
for name in siblings:
    print(name)

Rae
Earl
Noob
Shanti
Dru
Jaz
Latifah
Rae
Earl
Noob
Shanti
Dru
Jaz
Latifah

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [146]:

for i in range(100):
    if i ** 3 < 1000:
        print(i ** 3)

0
1
8
27
64
125
216
343
512
729

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [110]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break


for i in range(2,100):
    count = 0
    for j in range(1, i+1):
        if i % j ==0:
            count += 1
    if count == 2:
            print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [90]:
age = int(input("How old are are you? "))

if age < 18:
    print("kids")
elif age >= 18 and age <= 65:
    print("adults")
else:
    print("seniors")

How old are are you? 16
kids